$component-active-bg: #0d6efd;

@import "~bootstrap/scss/bootstrap";

.message-container {
  min-height: 24px;
}

.btn {
  transition:
    opacity 0.15s linear,
    background-color 0.15s linear,
    color 0.15s linear;
}